/*My external style sheet*/
td {
	text-align: center;
}
h2 {
	text-align: center;
	display:block;
}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;        
 }
a {
    display:block;
    text-align: center;
   }
div {
	text-align:center;
}
h1 {
	font-size: 16pt;
	font-weight: normal;
}