h1:first-child {
	text-align:center;
}
footer {
	text-align: center;
}
@font-face {
    font-family: '3dumbregular';
    src: url('./font 2/3Dumb-webfont.eot');
    src: url('./font 2/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font 2/3Dumb-webfont.woff') format('woff'),
         url('./font 2/3Dumb-webfont.ttf') format('truetype'),
         url('./font 2/3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1 {
	font-family: '3dumbregular';
	font-weight:bold;
}


