h1:first-child {
	text-align:center;
}
footer {
    text-align:center;
}
@font-face {
    font-family: '3dumbregular';
    src: url('./font rs v5/3Dumb-webfont.eot');
    src: url('./font rs v5/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font rs v5/3Dumb-webfont.woff') format('woff'),
         url('./font rs v5/3Dumb-webfont.ttf') format('truetype'),
         url('./font rs v5/3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#foodtruck {
	font-family: '3dumbregular';
	font-weight:bold;
}
a {
    font-weight: normal;
}
a:visited {
    color:red;
}
a:hover {
    font-weight:bold;
}
a:active {
    text-decoration:none;
}
.gbg {
    background-color: #909090;